.my-card {
    max-width: 400px;
    text-align: center;
    height: 300px;
}

img {
    width: 200px;
    height: 200px;
}

.empty-favorite {
    margin-top: 5px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
}

.favorite {
    margin-top: 5px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    background-color: white;
}